@import 'fonts.class';
@import 'components/header_banner.css';


*, *::after, *::before {
	margin: 0;
	padding: 0;
}
.flex-block {
	display: flex;
}
.link {
	text-decoration: none;
	cursor: pointer;
}
.button {
	cursor: pointer;
}
.item {
	list-style-type: none;
}
