
@import 'header_banner.css';
@import 'about_us.css';


@font-face {
			font-family: "SansationRegular";
			src: url("../fonts/Sansation/SansationRegular/SansationRegular.eot");
			src: url("../fonts/Sansation/SansationRegular/SansationRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Sansation/SansationRegular/SansationRegular.woff") format("woff"),
			url("../fonts/Sansation/SansationRegular/SansationRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "SansationBold";
			src: url("../fonts/Sansation/SansationBold/SansationBold.eot");
			src: url("../fonts/Sansation/SansationBold/SansationBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Sansation/SansationBold/SansationBold.woff") format("woff"),
			url("../fonts/Sansation/SansationBold/SansationBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
	    font-family: 'Helvetica LT Std LightCond';
	    src: url('../fonts/Helvetica/HelveticaLTStd-LightCond.eot');
	    src: url('../fonts/Helvetica/HelveticaLTStd-LightCond.eot?#iefix') format('embedded-opentype'),
	        url('../fonts/Helvetica/HelveticaLTStd-LightCond.woff2') format('woff2'),
	        url('../fonts/Helvetica/HelveticaLTStd-LightCond.woff') format('woff'),
	        url('../fonts/Helvetica/HelveticaLTStd-LightCond.ttf') format('truetype');
	    font-weight: 300;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Helvetica LT Std Bold';
	    src: url('../fonts/Helvetica/HelveticaLTStd-Bold.eot');
	    src: url('../fonts/Helvetica/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
	        url('../fonts/Helvetica/HelveticaLTStd-Bold.woff2') format('woff2'),
	        url('../fonts/Helvetica/HelveticaLTStd-Bold.woff') format('woff'),
	        url('../fonts/Helvetica/HelveticaLTStd-Bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: normal;
	}
	* {
		margin: 0;
		padding: 0;
		border: 0;
	}
	.flex_block {
		display: flex;
	}
	.link {
		text-decoration: none;
		cursor: pointer;
	}
	.button {
		cursor: pointer;
	}
	.item {
		list-style-type: none;
	}
