@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-LightCond.eot');
    src: url('HelveticaLTStd-LightCond.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLTStd-LightCond.woff2') format('woff2'),
        url('HelveticaLTStd-LightCond.woff') format('woff'),
        url('HelveticaLTStd-LightCond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Bold.eot');
    src: url('HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLTStd-Bold.woff2') format('woff2'),
        url('HelveticaLTStd-Bold.woff') format('woff'),
        url('HelveticaLTStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

