.writer__wrapper {
    flex-basis: 50%;
}

.writer__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us__wrapper {
    display: flex;
    font-family: var(--main-font), Arial, Tahoma;
}

.about-us {
    flex-basis: 50%;
    padding: 70px;
    box-sizing: border-box;
}

.headline__border {
    padding: 10px;
    border-bottom: 2px solid var(--blue-gray);
    position: relative;
}

.headline__border::after {
    content: '';
    width: 18%;
    border-bottom: 3px solid #6e6e6e;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-us__headline {
    font-size: 45px;
    font-weight: bold;
    color: var(--blue-gray);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.text__wrapper {
    padding: 40px 0px;
}

.about-us__text {
    font-size: 18px;
    margin-bottom: 25px;
}

.about-us__button {
    padding: 12px 50px;
    background-color: #05a0af;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    font-size: 18px;
}
