.banner {
    display: flex;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 20%;
}

.banner__gallery {
    --gallery-size: 734px;
    --border-width: 1px;
    width: var(--gallery-size);
    border: var(--border-width) solid var(--transparent-white);
    border-bottom: 0;
    position: relative;
}

.banner__gallery::before,
.banner__gallery::after {
    content: '';
    border-bottom: var(--border-width) solid var(--transparent-white);
    display: inline-block;
    width: 235px;
    position: absolute;
    bottom: 0;
}

.banner__gallery::before {
    right: 0;
}

.banner__gallery::after {
    left: 0;
}

.banner-gallery__viewer {
    width: calc(var(--gallery-size) * 3);
    position: relative;
}

.banner-gallery__item {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: center;
    padding: 90px 70px;
}
.banner__headline {
    font-size: 52px;
    margin-bottom: 30px;
}

.banner__arrow {
    position: absolute;
    top: 45%;
    color: var(--transparent-white);
    font-size: 40px;
    display: block;
    padding: 10px;
    border: 1px solid var(--transparent-white);
}

.banner__arrow:hover {
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

.banner__arrow.arrow_prev {
    left: 30px;
}

.banner__arrow.arrow_next {
    right: 30px;
}

.banner__button {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 35px;
    position: absolute;
    bottom: 0;
    left: 40%;
}

.banner__button:hover {
    color: var(--light-cyanic);
    border-color: var(--light-cyanic);
}