
.header {
    background-color: rgba(104, 104, 104, 1);
    background-image: url(../../img/banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: var(--main-font), Arial, Tahoma;
}

.page-header {
    display: flex;
    padding: 20px 30px;
    border-bottom: 1px solid var(--transparent-white);
}

.header__logo {
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    width: 10%;
    margin-right: 50px;
}

.color-red {
    color: rgba(218, 35, 70, 1);
}

.header__navigation {
    width: 80%;
    padding-top: 5px;
}

.navigation__link {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.navigation__link:hover {
    color: rgba(9, 126, 137, 1);
}

.follow-us {
    width: 10%;
    display: flex;
    --link-size: 25px;
}

.follow-us__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--link-size);
    height: var(--link-size);
    border-radius: 100%;
    border: 1px solid var(--transparent-white);
}

.banner {
    display: flex;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 20%;
}

.visible-gallery {
    width: var(--gallery-size);
    border: 1px solid var(--transparent-white);
    border-bottom: 0;
    overflow: hidden;
    position: relative;
}

.visible-gallery::before, .visible-gallery::after {
    content: '';
    border-bottom: 1px solid var(--transparent-white);
    display: inline-block;
    width: 235px;
    position: absolute;
    bottom: 0;
}

.visible-gallery::before {
    right: 0;
}

.visible-gallery::after {
    left: 0;
}

.gallery {
    width: calc(var(--gallery-size)*3);
    display: flex;
    flex-direction: row;
    transition: margin-left 250ms;
    position: relative;
}

.banner__text {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: center;
    padding: 90px 70px;
}

.banner__headline {
    font-size: 52px;
    margin-bottom: 30px;
}

.banner__arrow {
    position: absolute;
    top: 45%;
    color: var(--transparent-white);
    font-size: 40px;
    display: block;
    padding: 10px;
    border: 1px solid var(--transparent-white);
}

.banner__arrow:hover {
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

.banner__arrow.arrow__prev {
    left: 30px;
}

.banner__arrow.arrow__next {
    right: 30px;
}

.button-border {
    position: absolute;
    bottom: 0;
    left: 40%;
}

.banner__button {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 35px;
}

.banner__button:hover {
    color: var(--light-cyanic);
    border-color: var(--light-cyanic);
}
