:root {
	--bunner_button_color_hover: #097e89;
	--header_border: rgba(256, 256, 256, 0.5);
	}
.header_wrapper {
	background-color: #686868;
	background-image: url(../../img/banner.png);
	background-size: 100%;
}
.page_header {
  padding: 20px 30px;
  height: 25px;
  border-bottom: 1px solid var(--header_border);
}
.header_logo {
	font-size: 24px;
	color: white;
  width: 10%;
  margin-right: 50px;
}
.logo_span {
	color: #da2346;
}
.header_list {
}
.navigation {
	flex-wrap: nowrap;
  justify-content: space-around;
}
.header_navigation {
  width: 80%;
  padding-top: 5px;
}
.navigation_link {
	font-size: 20px;
	color: white;
}
.navigation_link:hover {
  color: #097e89;
}
.follow-us_header {
  width: 10%;
}
.follow-us_link {
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid var(--header_border);
}


.banner_carousel {
	display: flex;
	justify-content: center;
	padding-top: 15%;
	padding-bottom: 20%;
}
.gallery {
  width: 2202px;
	display: flex;
	flex-direction: row;
  transition: margin-left 250ms;
	position: relative;
}
.gallery_wrapper {
	width: 730px;
	border: 1px solid var(--header_border);
	border-bottom: 0;
	overflow: hidden;
	position: relative;
}
.gallery_wrapper::before, .gallery_wrapper::after {
	content: '';
	border-bottom: 1px solid var(--header_border);
	display: inline-block;
	width: 235px;
	position: absolute;
	bottom: 0;
}
.gallery_wrapper::before {
	right: 0;
}
.gallery_wrapper::after {
	left: 0;
}
.banner_text {
  color: white;
  font-size: 14px;
  text-align: center;
	padding: 90px 70px;
}
.banner_headline {
  font-size: 52px;
  font-weight: bold;
  text-transform: uppercase;
	margin-bottom: 30px;
}

.banner-arrow {
  position: absolute;
  top: 45%;
	color: var(--header_border);
	font-size: 40px;
  display: block;
	padding: 10px;
	border: 1px solid var(--header_border);
}
.banner-arrow:hover {
	color: white;
	border: 1px solid white;
}
.banner-arrow.arrow_prev {
  left: 30px;
}
.banner-arrow.arrow_next {
  right: 01px;
}


.button_wrapper {
	position: absolute;
	bottom: 0;
	left: 40%;
}
.banner_button {
	background: transparent;
	border: 2px solid white;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 15px 35px;
}
.banner_button:hover {
	color: var(--bunner_button_color_hover);
	border-color: var(--bunner_button_color_hover);
}
