.list {
    display: flex;
}

.services__list {
    background: #3d3d3d;
}

.list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 170px 15px;
}

.list__item:hover,
.list__item.active {
    background-color: #097e89;
}
